<main class="home">
    <h1 class="intro-heading">Welcome To The <span>MEAN</span> Stack Tutorial !</h1>
    
    <hr class="division">
    <aside class="image">
        <img src="https://i.postimg.cc/hvf0y91s/landing.jpg" alt="" class="landing-image">
    </aside>
    <p class="description-3">
        Here on this tutorial we will be focusing on these tools as they are so many that we can work on.
        The aim is to ensure that we get you into spead that you adequately equiped to perform your first
        fullstack web application with these tools.
    </p>
    <article class="main-content">
        <h4 class="content-heading">What is MEAN stack?</h4>
        <div class="content-body">
            <p class="description-1">
                It is the use of one the popular Javascript Tech-stack that comprises of:
            </p>
            <ul>
                <li class="tect-item">MongoDb (M) - (NoSQL Database System - Backend); </li>
                <li class="tect-item">Express (E) - (Node Web Framework - Backend);</li>
                <li class="tect-item">Angular (A) - (Javascript Framework - Frontend);</li>
                <li class="tect-item">NodeJS (N) - (Javascript Runtime Environment)</li>
            </ul>
            <p class="description-2">
                The use of these technologies combined form what is know as Fullstack, which means the relationship and interaction
                between the Backend technologies and Frontend technologies to control the use of data and interacting with the data.
            </p>
            <p class="aim">
                In this tutorial, we will show you how to make Angular 14 connect to MongoDB with Node.js Express. 
                We are going to build a full-stack Angular + Node.js + MongoDB example (MEAN stack CRUD) in which, 
                the back-end server uses Node.js + Express for REST APIs, front-end side is an Angular App with HttpClient, 
                Router and Bootstrap.
            </p>
            <p class="side-note">
                This assumes that you have basic information of these technologies and done some research.
            </p>
        </div>
    </article>
</main>

