<main class="list-users container row">
    <div class="col-md-8">
        <div class="inpu-group mb-3">
            <input 
                type="text"
                class="form-control"
                placeholder="Search by name"
                [(ngModel)]="name"
            >
            <div class="input-group-append">
                <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="searchByName()"
                >
                    Search
                </button>
            </div>
        </div>
    </div>
    <article class="col-md-6">
        <div class="content">
            <div class="wrapper">
                <ul class="list-group">
                    <li 
                        class="list-group-item"
                        *ngFor="let user of users; let i = index"
                        [class.selected]="i == currentIndex"
                        (click)="selectedUser(user, i)"
                    >
                        {{ user.name }} {{ user.surname }} 
                    </li>
                </ul>
            </div>
        </div>
    </article>
    <aside class="selected col-md-6">
        <app-candidate-details
            [viewMode]="true"
            [currentUser]="currentUser"
        >   
        </app-candidate-details>
    </aside>
</main>
