<main class="angular">
    <h2 class="intro">
        Angular
    </h2>
    <p class="welcome">
        This section will assume that you have done angular tour-of-heroes and build basic applications with angular,
        if not please go to <a href="https://angular.io/docs" target="_blank">angular website</a>  and read the documemtation.
        If you want to go straight to tour-of-heroes tutorial, 
        <a href="https://angular.io/tutorial/tour-of-heroes" target="_blank">click here</a>.
    </p>
</main>

