h2.intro {
    font-weight: bold;
}

p.heading {
    font-weight: bold;
}

.code-block {
    background-color: #ddd;
    padding-left: 2%;
    margin-bottom: 2%;
}
span.api {
    font-weight: bold;
    /* text-decoration: underline; */
    margin-top: 1%;
}
a.api {
    margin-left: 1%;
}

span.comment, span.api {
    display: block;
    color: gray;
}