<main class="angular">
    <h2 class="intro">
        Angular
    </h2>
    <p class="welcome">
        This section will assume that you have done angular tour-of-heroes and build basic applications with angular,
        if not please go to <a href="https://angular.io/docs" target="_blank">angular website</a>  and read the documemtation.
        If you want to go straight to tour-of-heroes tutorial, 
        <a href="https://angular.io/tutorial/tour-of-heroes" target="_blank">click here</a>.
    </p>
    <p class="mandate">
        The aim is to create angular application and connect it to our backend (Node + Express = API)
        using HttpClientModule. With this connection, we will be able to interact with our backend from
        frontend. Let's begin!
        <span class="api">
            To see the development of -><a routerLink="/node" class="api" title="Node API">API</a>
        </span>
    </p>
    <article class="main-content">
        <p class="heading">
            Getting started
        </p>
        <div class="body">
            <p class="body-intro">
                In order to start you need to have your angular <span>CLI</span> installed.
            </p>
            <div class="code-block">
                <code>
                    <span class="comment">
                        // to check if installed - check the version
                    </span>
                    $ ng version
                    <span class="comment">
                        // to install latest version - if not installed yet
                    </span>
                    $ npm install -g @angular/cli
                </code>
            </div>
            <p>
                Once angular is installed, you ready to create your application and move forward. Let's create our CRUD (frontend) application.
            </p>
            <div class="code-block">
                <code>
                    <span class="comment">
                        // ng new [name of your application]
                    </span>
                    $ ng new crud-api-application
                </code>
            </div>
            <p>
                This will generate your application, thereafter you can start working and incoperate your API.
            </p>
        </div>
    </article>
    
</main>

