<main class="node-express">
    <h2 class="intro">
        Node JS
    </h2>
    <p class="welcome">
        As we said before, node-js is a runtime environment that helps us to run javascript in our local machines.
        It also helps us to use libraries and/or frameworks to build our web server applications. In this tutorial
        we will be using <span class="express">Express</span> to achieve that.
    </p>
    <h3 id="express">
        Express JS
    </h3>
    <p class="mandate">
        Express is one of Node frameworks that is easy to understand and helps us to get the task as quickly as possible.
        It is known to be Fast, unopinionated, minimalist web framework for Node.js. Understanding Express
        will help you to develop your API in order to communicate with your database (MongoDB) and use your API
        to connect with your frontend (In this case with your <a routerLink="/angular" class="angular">Angular</a> application)
    </p>
    <article class="main-content">
        <p class="heading">
            Getting started
        </p>
        <div class="body">
            <p class="body-intro">
                In order to start you need to have your Node Js installed.
            </p>
            <div class="code-block">
                <code>
                    <span class="comment">
                        // to check if installed - check the version
                    </span>
                    $ node --version
                    <span class="comment">
                        // to install latest version - if not installed yet 
                        <br>
                        <a href="https://nodejs.org/en/download/" class="download-node" target="_blank">https://nodejs.org/en/download/</a>
                    </span>
                </code>
            </div>
            <p>
                Once Node is installed then you ready to develop your api. Create a folder, then create a .js file i.e. (server.js ...).
                Then on your terminal run the command below to initialise Node Package Modules, this will generate a file called <span class="fw-bold">package.json</span> that has key information about the api you are developing.
            </p>
            <div class="code-block">
                <code>
                    <span class="comment">
                        // initialising npm - default (yes)
                    </span>
                    $ npm init --yes
                </code>
            </div>
            <div class="image"></div>
            <p>
                Then on your terminal in the same diractory start installing all the dependecies that you will need such as express and many more.           
            </p>
            <div class="code-block">
                <code>
                    <span class="comment">
                        // installing dependencies
                    </span>
                    $ npm install express mongoose cors --save
                </code>
            </div>
            <div class="cointainer">
                <p>
                    After you ran these commands you should see such results below. In this tutorial <span class="fw-bold">api</span> folder is a root folder. Inside of this folder you have <span class="fw-bold">node_modules</span> (these are the libraries from node), <span class="fw-bold">package.json</span> (file created when you installed express) and <span class="fw-bold">server.js</span> (file you created at the beginning).
                </p>
                <div class="image mb-2">
                    <img src="https://i.postimg.cc/tTy568yn/installed-express.png" alt="" class="instal-express">
                </div>
                <p>
                    We will be using <span class="fw-bold">express</span> to develop our <span class="fw-bold">api</span>, using <span class="fw-bold">mongoose</span> to form connection with <span class="fw-bold">MongoDB</span> and <span class="fw-bold">cors</span> to allow communication with our api and the angular server to communicate.
                </p>
                <h4 class="folder-stru fw-bold">
                    Folder Structure
                </h4>
                <p>
                    The folder structure of this backend will be as following:
                </p>
                <div class="f-image">
                    <img src="https://i.postimg.cc/QtKpYKG5/Screenshot-2023-01-09-at-11-27-10.png" alt="" class="folder">
                    <p>In the above email, you see <strong>app</strong> diractory where inside the directory there's <strong>config</strong> folder (to config your database), your <strong>controller</strong> folder (to write logic or fuctions that communicate with your database), <strong>models</strong> folder (to create your schema that maps your data in your database), lastly <strong>routes</strong> folder (to create dynamic routing towards a specific path while performing CRUD). </p>
                </div>
                <p>
                    On server.js add the code below to create your basic structure of your server, and go to your terminal to run
                    <strong>node server.js</strong>
                </p>
                <div class="code-block">
                    <code>
                        <span class="comment">
                            // server.js
                        </span>
                        <div class="line">
                            <span class="var">const</span> 
                            <span class="variable"> express </span>
                            <span class="equi">=</span>
                            <span class="variable"> require</span>
                            <span class="braces">(</span>
                            <span class="lib">'express'</span>
                            <span class="braces">)</span>
                        </div>
                        <div class="line">
                            <span class="var">const</span> 
                            <span class="variable"> cors </span>
                            <span class="equi">=</span>
                            <span class="variable"> require</span>
                            <span class="braces">(</span>
                            <span class="lib">'cors'</span>
                            <span class="braces">)</span>
                        </div>
                        <br>
                        <div class="line">
                            <span class="var">const</span> 
                            <span class="variable"> app </span>
                            <span class="equi">=</span>
                            <span class="variable"> express</span>
                            <span class="braces">()</span>
                        </div>
                        <br>
                        <div class="line">
                            <span class="var">let</span> 
                            <span class="variable"> corsOptions </span>
                            <span class="equi">=</span>
                            <span class="braces"> {{ '{' }}</span>
                            <br>
                            <span class="variable ps-4">origin:</span>
                            <span class="lib">'http://localhost:8081';</span>
                            <br>
                            <span class="braces ps-2">{{ '}' }}</span>
                        </div>
                        <br>
                        <div class="line">
                            <span class="var">app.</span>
                            <span class="variable">use</span>
                            <span class="braces">(</span>
                            <span class="variable">cors</span>
                            <span class="braces-1">(</span>
                            <span class="var">corsOptions</span>
                            <span class="braces-1">)</span>
                            <span class="braces">)</span>
                        </div>
                        <div class="line">
                            <span class="var">app.</span>
                            <span class="variable">use</span>
                            <span class="braces">(</span>
                            <span class="variable">express</span>
                            <span class="var">.</span>
                            <span class="variable">json</span>
                            <span class="braces-1">(</span>
                            <span class="braces-1">)</span>
                            <span class="braces">)</span>
                        </div>
                        <div class="line">
                            <span class="var">app.</span>
                            <span class="variable">use</span>
                            <span class="braces">(</span>
                            <span class="variable">express</span>
                            <span class="var">.</span>
                            <span class="variable">urlencoded</span>
                            <span class="braces-1">(</span>
                            <span class="braces-2">{{ '{' }}</span>
                            <span class="var"> extended:</span>
                            <span class="braces-1"> true </span>
                            <span class="braces-2">{{ '}' }}</span>
                            <span class="braces-1">)</span>
                            <span class="braces">)</span>
                        </div>
                        <br>
                        <div class="line">
                            <span class="var">app.</span>
                            <span class="variable">set</span>
                            <span class="braces">(</span>
                            <span class="lib">'port'</span>
                            <span class="var">, process.env.PORT</span>
                            <span class="equi"> ||</span>
                            <span class="braces-1"> 8080</span>
                            <span class="braces">)</span>
                        </div>
                        <br>
                        <div class="line">
                            <span class="var">app.</span>
                            <span class="variable">get</span>
                            <span class="braces">(</span>
                            <span class="lib">'/'</span>
                            <span class="var">, </span>
                            <span class="braces-1">(</span>
                            <span class="param">req</span>
                            <span class="var">, </span>
                            <span class="param">res</span>
                            <span class="var">, </span>
                            <span class="variable">next</span>
                            <span class="braces-1">)</span>
                            <span class="var"> => </span>
                            <span class="braces-1">{{ '{' }} </span>
                            <br>
                            <span class="param ps-4">res</span>
                            <span class="var">.</span>
                            <span class="variable">send</span>
                            <span class="braces-2">(</span>
                            <span class="lib">"{{'<'}}h1{{'>'}}Hello world{{'<'}}{{'/'}}h1{{'>'}}"</span>
                            <span class="braces-2">)</span>
                            <br>
                            <span class="braces-1 ps-2">}</span>
                            <span class="braces">)</span>
                        </div>
                        <div class="line">
                            <span class="var">app.</span>
                            <span class="variable">listen</span>
                            <span class="braces">(</span>
                            <span class="var">app.</span>
                            <span class="variable">get</span>
                            <span class="braces">(</span>
                            <span class="lib">'port'</span>
                            <span class="var">, </span>
                            <span class="braces-1">()</span>
                            <span class="var"> => </span>
                            <span class="braces-1">{{ '{' }} </span>
                            <br>
                            <span class="param ps-4">console</span>
                            <span class="var">.</span>
                            <span class="variable">info</span>
                            <span class="braces-2">(</span>
                            <span class="lib">"{{'<'}}h1{{'>'}}Hello world{{'<'}}{{'/'}}h1{{'>'}}"</span>
                            <span class="braces-2">)</span>
                            <br>
                            <span class="braces-1 ps-2">}</span>
                            <span class="braces">)</span>
                        </div>
                    </code>
                </div>
                <h4 class="fw-bold">
                    Configure Your MongoDB Database
                </h4>
                <div class="code-block">
                    <code>
                        <span class="comment">
                            // diractory -> app/config/db.config.js
                            <br>
                            // db.config.js
                        </span>
                        <div class="line">
                            <span class="var">module.exports</span> 
                            <span class="equi"> = </span>
                            <span class="braces">{{ '{' }}</span>
                            <br>
                            <span class="variable ps-4">url</span>
                            <span class="var">:</span>
                            <span>'mongodb://localhost:27017/users_db'</span>
                            <br>
                            <span class="braces ps-2">{{ '}' }}</span>
                        </div>
                    </code>
                </div>
            </div>
        </div>
    </article>
    
</main>