<main class="node-express">
    <h2 class="intro">
        Node JS
    </h2>
    <p class="welcome">
        As we said before, node-js is a runtime environment that helps us to run javascript in our local machines.
        It also helps us to use libraries and/or frameworks to build our web server applications. In this tutorial
        we will be using <span class="express">Express</span> to achieve that.
    </p>
    <h3 id="express">
        Express JS
    </h3>
    <p class="mandate">
        Express is one of Node frameworks that is easy to understand and helps us to get the task as quickly as possible.
        It is known to be Fast, unopinionated, minimalist web framework for Node.js. Understanding Express
        will help you to develop your API in order to communicate with your database (MongoDB) and use your API
        to connect with your frontend (In this case with your <a routerLink="/angular" class="angular">Angular</a> application)
    </p>
    <article class="main-content">
        <p class="heading">
            Getting started
        </p>
        <div class="body">
            <p class="body-intro">
                In order to start you need to have your Node Js installed.
            </p>
            <div class="code-block">
                <code>
                    <span class="comment">
                        // to check if installed - check the version
                    </span>
                    $ node --version
                    <span class="comment">
                        // to install latest version - if not installed yet 
                        <br>
                        <a href="https://nodejs.org/en/download/" class="download-node" target="_blank">https://nodejs.org/en/download/</a>
                    </span>
                </code>
            </div>
            <p>
                Once Node is installed then you ready to develop your api. Create a forlder, then create a .js file i.e. (server.js ...).
                The on your terminal start installing all the dependecies that you will need such as express and many more.
            </p>
            <div class="code-block">
                <code>
                    <span class="comment">
                        // initialising npm - yes to give default
                    </span>
                    $ npm init --yes
                </code>
            </div>
            
        </div>
    </article>
    
</main>