<header class="nav-b">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid nav-main">
              <a class="navbar-brand" routerLink="/">
                <img src="https://i.postimg.cc/85SBFzC1/logo.png" alt="" class="logo">
                <span class="logo-text">MEAN</span>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}>Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/angular" routerLinkActive="active-link">Angular</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/deploy" routerLinkActive="active-link">Deployment</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/node" routerLinkActive="active-link">Node</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
</header>